.App {
  background-color: #fefefe;
  height: 100%;
  width: 100%;
}

.section-container {
  background: #fff;
  padding: 100px;
  border-radius: 15px;
  margin: auto;
  display: flex;
  box-shadow: 0 10px 25px #ff99cc;
  width: 500px;
  height: 500px;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  text-align: center;
  margin-top: 80px;
  
}
